@CHARSET "UTF-8";

body{
	font-family: fantasy;
	font-size: 12px;
	margin: 0px;
}

#shcover{
	display: none;
}

#datacontainer{
	/* display:none; */
	width: 700px;
	margin-top:15px;
}

#reporthead{
	display: block;
	width: 700px;
	padding:0px;
}

.header-info{
	text-align: right;
	width: 80px;
	float: right;
	margin-right:25px;
	font-weight: bold;
}

#reporthead td{
	border: 1px solid #000;
	width: 175px;
	height: 25px;
	margin-bottom: 10px;
}

.content{
	border:1px solid #000; 
	width: 80px;
}

#rawdata{
	width: 700px;
}

#rawdata td{
	/* border:0px solid #000; */
}

#tdata td{
	border:1px solid #000; 
	height: 35px;
	/* width: 90px; */
}

#tfooter{
	width: 700px;
	margin-top:-3px;
}

#tfooter td.first{
	border:1px solid #000;
}

.t2{
	text-align:right;
	width: 60px;
}
/* for raw data */
.t{
	text-align:right;
	width:106px;
	font-weight: bold;
}

#search{
	display:none;
}

#menu{
	display: none;
}

#cleardatapopup{
	display: none;
}

.mCSB_draggerContainer{
	display: none;
}

/* in page index.html */
#shcover{
	display: none;
}

#menulink{
	display: none;
}

#menucontainer{
	display:none;
}

td.help label{
	display: none;
}

#sumtitle{
	text-align: center;
	border:1px solid #000000;
	width: 100%;
	font-size: 16px;
	padding: 15px;
	margin-top:15px;
}

#preventblock{
	display: none;
}

#cleardatapopup{
	display: none;
}

#printpage{
	display: none;
}